.banking_container{
    position: relative;
    background-color:#00D54B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
        
}
.banking_column{
    position: absolute;
    width: 8vw;
    height: 39vh;
    top: 4.8vh;
    left: 3.85vw;
    z-index: 4;
}
.banking_tube{
    position: absolute;
    width: 7.8125vw;
    height: 31.25vh;
    top: 77vh;
    left: 27vw;
}
.banking_track2{
    position: absolute;
    width: 13.020vw;
    height: 31.95vh;
    top: 2.18725vh;
    left:  68.90vw;
}

.banking_stair2{
    position: absolute;
    width: 4.166vw;
    height: 44.37vh;
    top: 50.470vh;
    left: 4.965vw;
}
.banking_stair1{
    position: absolute;
    width: 5.68vw;
    height: 50.20vh;
    top: 31.37vh;   
    left: 82.05vw;
}

.banking_ramp2{
    position: absolute;
    width: 15.625vw;
    height: 38.74vh;
    top: 61.79vh;
    left: 11.177vw;

}
.banking_ramp1{
    position: absolute;
    width: 14.58vw;
    height: 37.32vh;
    top: 26.43vh;
    left: 57.09vw;
}

.banking_phone{
    position: absolute;
    height: 50.27vh;
    top: 25vh;
    left: 38vw;
    z-index: 2;
}

.banking_track1{
    position: absolute;
    width: 14.16vw;
    height: 33.14vh;
    top: 16vh;
    left: 30.1vw;
}

.banking_monster{
    position: absolute;
    width: 6.25vw;
    height: 15.86vh;
    top: 80vh;
    left: 82.35416vw;

}

.banking_cubes{
    position: absolute;
    width: 15.5vw;
    height: 27.71vh;
    top: 65vh;
    left: 60.427vw;

}
.hole_container{
    position: absolute;
    height: 35vh;
    bottom: 80vh;
    right: 82vw;
    justify-content: center;
    display: flex;
    align-items: center;
    
    
}
.banking_hole1{
    height: 35vh;
    width: 19.791vw;
    object-fit: fill;
    z-index:3;
}
.banking_hole2{
    position: absolute;
    width: 19.791vw;
    height: 31.855vh;
    top: 79vh;
    left: 44.91666vw;
}
.banking_details{
    position: absolute;
    width: 20vw;
    height: 10vh;
    top: 44vh;
    left: 18vw;
    padding: 6px 16px 0px 1px;

}
.banking{
    font-family: Agrandir;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.details{
    width: 16.826vw;
    height: 8vh;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.300px;
    text-align: left;
    color:black;
}
@media only screen and (max-device-width: 480px) {
    .banking_phone{
        position: absolute;
        width: 38.22vh;
        height: 40.27vh;
        top: 30vh;
        left: 18vw;
        z-index: 2;
    }
    .banking_column{
        position: absolute;
        width: 15vw;
        height: 39vh;
        top: 6.8vh;
        left: 3.85vw;
        z-index: 4;
    }
    .banking_tube{
        visibility: hidden;
    }
    .banking_track2{
        position: absolute;
        width: 25.020vw;
        height: 31.95vh;
        top: 9.187vh;
        left:  67.90vw;
    
    }
    .banking_stair2{
        position: absolute;
        width: 10.16vw;
        height: 44.37vh;
        top: 30.479vh;
        left: 6.95vw;
    }
    .banking_stair1{
        position: absolute;
        width: 10.68vw;
        height: 50.20vh;
        top: 25.37vh;   
        left: 85.052vw;
    }
    
    .banking_ramp2{
        position: absolute;
        width: 30.625vw;
        height: 38.74vh;
        top: 62.79vh;
        left: 4.177vw;
    
    }
    .banking_ramp1{
        position: absolute;
        width: 24.58vw;
        height: 37.32vh;
        top: 16.43vh;
        left: 57.09vw;
    }
    .banking_details{
        position: absolute;
        width: 60vw;
        height: 20vh;
        top: 6vh;
        left: 22vw;
    }
    .banking{
        font-family: Agrandir;
        font-size: 5vh;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .details{
        width:60vw;
        font-family: Mulish;
        font-size: 1.75vh;
        font-weight: 400;
        line-height: 2vh;
        letter-spacing: 0.30px;
        text-align: left;
        color:black;
    }
    .banking_ramp1{
        visibility: hidden;
    }
    .banking_track1{
        visibility: hidden;
    }
    .banking_hole2{
        position: absolute;
        width: 39.79vw;
        height: 31.85vh;
        top: 79vh;
        left: 44.91vw;
    
    }
    .banking_monster{
        visibility: hidden;
    }
    .banking_cubes{
        position: absolute;
        width: 30.5vw;
        height: 27.71vh;
        top: 70vh;
        left: 60.42vw;
        
    }   
}