.App {
  text-align: center;
  /* Optionally, set a fixed height for the component to make sure the background covers the entire screen */
  height: 500vh;
  overflow: hidden;
}


@font-face {
  font-family: 'Agrandir';
  src: 
  local("./fonts/Agrandir Grand Heavy 800.otf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
